body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
}

.app {
  width: 380px;
  margin: 80px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
  text-align: center;
}

input, button {
  margin-top: 10px;
}
